h1.checkout-heading {
  margin-top: 40px;
}

.checkout-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  // grid-column-gap: 10px;
  grid-gap: 30px;
  margin: 40px auto 80px;

  .checkout-table-container {
    margin-left: 124px;
  }

  h2 {
    margin-bottom: 28px;
  }

  .checkout-table-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid $text-color-light;
    padding: 14px 0;

    &:last-child {
      border-bottom: 1px solid $text-color-light;
    }

    .checkout-table-row-left, .checkout-table-row-right {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .checkout-table-row-left {
      width: 75%;
    }

    .checkout-table-row-right {
      // width: 24%;
      // padding-top: 10px;
    }

    .checkout-table-img {
      max-height: 60px;
    }

    .checkout-table-description {
      color: $text-color-light;
    }

    .checkout-table-price {
      padding-top: 6px;
    }

    .checkout-table-quantity {
      border: 1px solid $text-color-light;
      padding: 4px 12px;
      margin-right: 5px;
    }
  }

  .checkout-totals {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $text-color-light;
    padding: 18px 0;
    line-height: 2;

    .checkout-totals-right {
      text-align: right;
    }

    .checkout-totals-total {
      font-weight: bold;
      font-size: 22px;
      line-height: 2.2;
    }
  }
}

#card-error {
  color: rgb(194, 20, 20);
  text-align: left;
  font-size: 16px;
  line-height: 17px;
  margin-top: 12px;
}

#card-element {
  padding: 16px 16px;
  border: 1px solid rgb(118, 118, 118);
  background: white;
}

.hidden {
  display: none;
}

/* spinner/processing state, errors */
.spinner,
.spinner:before,
.spinner:after {
  border-radius: 50%;
}
.spinner {
  color: #ffffff;
  font-size: 22px;
  text-indent: -99999px;
  margin: 0px auto;
  position: relative;
  width: 20px;
  height: 20px;
  box-shadow: inset 0 0 0 2px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.spinner:before,
.spinner:after {
  position: absolute;
  content: "";
}
.spinner:before {
  width: 10.4px;
  height: 20.4px;
  background: #5469d4;
  border-radius: 20.4px 0 0 20.4px;
  top: -0.2px;
  left: -0.2px;
  -webkit-transform-origin: 10.4px 10.2px;
  transform-origin: 10.4px 10.2px;
  -webkit-animation: loading 2s infinite ease 1.5s;
  animation: loading 2s infinite ease 1.5s;
}
.spinner:after {
  width: 10.4px;
  height: 10.2px;
  background: #5469d4;
  border-radius: 0 10.2px 10.2px 0;
  top: -0.1px;
  left: 10.2px;
  -webkit-transform-origin: 0px 10.2px;
  transform-origin: 0px 10.2px;
  -webkit-animation: loading 2s infinite ease;
  animation: loading 2s infinite ease;
}

.have-code {
  display: block;
  margin: 14px 0;
  text-align: left;
}

.have-code-container {
  border: 1px solid $text-color-light;
  padding: 16px;
  width: 100%;
  margin-left: auto;

  form {
  display: flex;
  justify-content: space-between;
  }

  input[type="text"] {
  width: 70%;
  padding: 10px;
  font-size: 16px;
  }

  input[type="submit"] {
  background: white;
  border: 1px solid $text-color-light;
  padding-top: 8px;
  padding-bottom: 8px;

  &:hover {
      background: $text-color;
  }
  }
}

@-webkit-keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

